# UCF file for the XC6SLX9 FPGA miniboard
# EP 2016-02-07

NET LED(0) LOC = P138 | IOSTANDARD=LVCMOS33;
NET LED(1) LOC = P137 | IOSTANDARD=LVCMOS33;
NET LED(2) LOC = P134 | IOSTANDARD=LVCMOS33;
NET LED(3) LOC = P133 | IOSTANDARD=LVCMOS33;
NET LED(4) LOC = P120 | IOSTANDARD=LVCMOS33;
NET LED(5) LOC = P119 | IOSTANDARD=LVCMOS33;
NET LED(6) LOC = P118 | IOSTANDARD=LVCMOS33;
NET LED(7) LOC = P117 | IOSTANDARD=LVCMOS33;
NET CLK50M LOC = P50;
NET CLK50M IOSTANDARD=LVCMOS33 | PERIOD=20.0ns;
NET TX 	   LOC = P46  | IOSTANDARD=LVCMOS33;
NET RX	   LOC = P47  | IOSTANDARD=LVCMOS33;
NET SW1    LOC = P132 | IOSTANDARD=LVCMOS33;		
NET SW2	   LOC = P131 | IOSTANDARD=LVCMOS33;

NET TX02		LOC = P143 | IOSTANDARD=LVCMOS33;
NET RX02		LOC = P141 | IOSTANDARD=LVCMOS33;
NET n_RESET_OUT LOC = P139 | IOSTANDARD=LVCMOS33;

# outputs
NET n_RAMCE LOC=P45 | IOSTANDARD=LVCMOS33;
NET n_ROMCE LOC=P43 | IOSTANDARD=LVCMOS33;
NET CRUCLK_OUT	LOC=P44 | IOSTANDARD=LVCMOS33;
NET n_CRU1	LOC=P41 | IOSTANDARD=LVCMOS33;
NET n_CRU2	LOC=P35 | IOSTANDARD=LVCMOS33;

NET READY 	LOC=P80 | IOSTANDARD=LVCMOS33; # not wired yet
	
# inputs
NET n_MEMEN		LOC=P16 | IOSTANDARD=LVCMOS33;
NET n_WE			LOC=P14 | IOSTANDARD=LVCMOS33;
NET n_DBIN		LOC=P10 | IOSTANDARD=LVCMOS33;
NET ABUS(15)	LOC=P11 | IOSTANDARD=LVCMOS33;
NET ABUS(14)	LOC=P9  | IOSTANDARD=LVCMOS33;
NET ABUS(13) 	LOC=P22 | IOSTANDARD=LVCMOS33;
NET ABUS(12)	LOC=P24 | IOSTANDARD=LVCMOS33;
NET ABUS(11)	LOC=P27 | IOSTANDARD=LVCMOS33;
NET ABUS(10)	LOC=P30 | IOSTANDARD=LVCMOS33;
NET ABUS(9)		LOC=P33 | IOSTANDARD=LVCMOS33;
NET ABUS(8)		LOC=P8  | IOSTANDARD=LVCMOS33;
NET ABUS(7)		LOC=P2   | IOSTANDARD=LVCMOS33;
NET ABUS(6)		LOC=P6   | IOSTANDARD=LVCMOS33;
NET ABUS(5)		LOC=P23  | IOSTANDARD=LVCMOS33;
NET ABUS(4)		LOC=P26  | IOSTANDARD=LVCMOS33;
NET ABUS(3)		LOC=P29  | IOSTANDARD=LVCMOS33;
NET ABUS(2)		LOC=P32  | IOSTANDARD=LVCMOS33;
NET ABUS(1)		LOC=P34  | IOSTANDARD=LVCMOS33;
NET ABUS(0)		LOC=P40  | IOSTANDARD=LVCMOS33;

# mapped address outputs (not wired up yet)
NET RA(18) LOC=P127 | IOSTANDARD=LVCMOS33;
NET RA(17) LOC=P124 | IOSTANDARD=LVCMOS33;
NET RA(16) LOC=P121 | IOSTANDARD=LVCMOS33;
NET RA(15) LOC=P115 | IOSTANDARD=LVCMOS33;
NET RA(14) LOC=P112 | IOSTANDARD=LVCMOS33;
NET RA(13) LOC=P126 | IOSTANDARD=LVCMOS33;
NET RA(12) LOC=P123 | IOSTANDARD=LVCMOS33;

# Bidirectional databus
NET DBUS(7)		LOC=P17 | IOSTANDARD=LVCMOS33;
NET DBUS(6)		LOC=P15 | IOSTANDARD=LVCMOS33;
NET DBUS(5)		LOC=P12 | IOSTANDARD=LVCMOS33;
NET DBUS(4)		LOC=P140 | IOSTANDARD=LVCMOS33;
NET DBUS(3)		LOC=P142 | IOSTANDARD=LVCMOS33;
NET DBUS(2)		LOC=P1  | IOSTANDARD=LVCMOS33;
NET DBUS(1)		LOC=P5  | IOSTANDARD=LVCMOS33;
NET DBUS(0)		LOC=P7  | IOSTANDARD=LVCMOS33;

# NMI generator
NET n_NMI		LOC=P82 | IOSTANDARD=LVCMOS33;
NET IAQ			LOC=P83 | IOSTANDARD=LVCMOS33;

# SD Card interface
# DI and DO are from the viewpoint of the SD Card
NET n_SD_CS		LOC=P87 | IOSTANDARD=LVCMOS33;
NET SD_DI		LOC=P88 | IOSTANDARD=LVCMOS33;
NET SD_CLK		LOC=P84 | IOSTANDARD=LVCMOS33;
NET SD_DO 		LOC=P85 | IOSTANDARD=LVCMOS33;

# CRUIN (from FPGA to CPU)
NET CRUIN		LOC=P104 | IOSTANDARD=LVCMOS33;
